.ProseMirror p {
  margin: 0 0 10px;
  font-size: 11pt;
  font-family: "Open Sans", serif;
}
.ProseMirror h1 {
  font-size: 22pt;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.ProseMirror ol {
  list-style-position: inside;
}
.ProseMirror ol li p:first-child {
  display: inline;
}

th, td {
  padding: 2px;
  font-size: 12px;
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid grey;
}

.redTable td{
  background: red;
}

.borderTable td {
  border-bottom: 1px solid grey !important;
  border-right: 1px solid grey !important;
}
.borderTable td:first-child {
  border-left: 1px solid grey !important;
}
.borderTable tr:first-child {
  border-top: 1px solid grey !important;
}

.headerRowTable thead tr:first-child td {
  font-weight: bold;
}

/*##########################Updated for reports#############*/
/*//////////////////////* Paragraphs///////////////////////////*/
p {
font-size: 12.0pt;
font-family:"Times New Roman",'serif';
margin-top: 12pt;
}

p.footnote {
font-size: 8.0pt;
font-family:"Times New Roman",'serif';
margin-top: 0pt;
}

li {
font-size: 12.0pt;
font-family:"Times New Roman",'serif';
}

p.notes{
font-size: 10.0pt;
font-family:"Trebuchet MS", Helvetica, sans-serif;
margin: 0;
padding-top: 3pt;
padding-bottom: 0;
color: #A9A9A9;
border-top: 1px solid #A9A9A9;

}

/*//////////////////////* Headings///////////////////////////*/
h1 {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 18pt;
letter-spacing: 0px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
padding: 0;
margin: 0;
margin-top: 6pt;

}

h2 {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 16pt;
letter-spacing: 0px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
border-bottom: 1px solid black;
padding-top: 0pt;
padding-bottom: 0pt;
}

h3 {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 14pt;
letter-spacing: 0px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

h4 {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 6pt;
padding-bottom: 0pt;
letter-spacing: 0px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
margin: 12pt 0pt 6pt 0pt;
}

/*//////////////////////* Default Table///////////////////////////*/
table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:9pt;
	border-collapse: collapse;
	padding-top: 6px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #999;
}

td {
  padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
}

th {
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: bottom;
  padding-left: 3px;
  padding-right: 5px;
  text-align: left;
  font-weight: bold;
  color: black;
  background-color: #FFFFFF;
  line-height: 1;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-bottom-width: thin;
}

/*//////////////////////* Financial Table///////////////////////////*/
table.financial_tble {

	border-bottom: 0;
	font-weight: none;
	white-space: nowrap;
	text-align: right;
	table-layout: fixed;
}

table.financial_tble tr td {
    padding-top: 2px;
	padding-bottom: 2px;
	border-bottom:0;
	padding-left:2px;
}

/* Financial Table - column widths*/

table.financial_tble td:nth-child(1){
    width: 1.85in;
}

table.financial_tble td:nth-child(2), table.financial_tble td:nth-child(3), table.financial_tble td:nth-child(4), table.financial_tble td:nth-child(5){
    width: .6in;
}

table.financial_tble td:nth-child(1), table.financial_tble td:nth-child(6){
    text-align: left;
}


/*heading rows*/
table.financial_tble tr:nth-child(3) td:nth-child(1), table.financial_tble tr:nth-child(8) td:nth-child(1)
, table.financial_tble tr:nth-child(22) td:nth-child(1) {
 font-weight: bold;
 padding-left: 0px;
 padding-top: 6px;
 text-decoration: underline;
 }

/*column headings*/
table.financial_tble tr:nth-child(1) {
 font-weight: bold;
 text-decoration: underline;
}

/*totals rows*/
table.financial_tble tr:nth-child(7), table.financial_tble tr:nth-child(20), table.financial_tble tr:nth-child(21) {
 font-weight: bold;
 padding-left: 0px;
}

/*EBITDA*/
table.financial_tble tr:nth-child(21) {
 padding-top: 6px;
 border-top-width: thin;
 border-top-style: solid;
 border-top-color: #000000;

}
/*add underline*/
table.financial_tble tr:nth-child(6), table.financial_tble tr:nth-child(19), table.financial_tble tr:nth-child(21)
{

 border-bottom-width: thin;
 border-bottom-style: solid;
 border-bottom-color: #000000;

}

/*add underline*/
table.financial_tble tr:last-child {

 border-bottom-width: thin;
 border-bottom-style: solid;
 border-top-width: thin;
 border-top-style: solid;
 border-top-color: #000000;
 border-bottom-color: #000000;
 font-weight: bold;
 padding-left: 0px;
 padding-top: 6px;

}

/*comments*/
table.financial_tble td:nth-child(6) {
 width: 2.2in;
 font-style: italic;
 word-break: break-all;
 font-weight: lighter;
 white-space: normal;
 font-size: 8pt;
 line-height: .9;
}

table.financial_tble tr:nth-child(25), table.financial_tble tr:nth-child(32) {

 padding-top: 6px;

 }

 table.financial_tble tr td:nth-child(6) {

 border-bottom: 0;
 border-top: 0;

 }
