<h2 id="exec" class="section" style="border-bottom: 5px"> 2. Operations Management </h2>
<p>During the month of {{ MONTH }}, generation and availability were above plan. The turbines performed well
with low fault activity which result in a {{ month_project_availability}} Project Availability
  and a {{ month_contract_availability }} Contract Availability.</p>
<p>Vestas completed the annual wind turbine services in {{ month }} and are now 100% complete.
</p>

<p>The Vestas RAL InteliLifht system has been in operation for the last few months and is performing well.
  The Longroad ROC is monitoring the system status daily and reporting any issues to the site.
</p>
