<h2 class="lre">1. Executive Summary</h2>
<p class="lre">
  For the month of June, El Campo generation was 8,954 MWh (11.2%) below the budgeted production.  Year-to-date generation was 20,554 MWh (4.0%) below the year-to-date budgeted production.
May Contractual Availability was 85.5% vs a Plan 98%, and a Project Availability was 85.4% vs a Plan of 94.9%. Year to date Availabilities were 87.5% and 87.3% respectively.
Highlights from the Lost Energy assessment for the month of June are as follows:
  •	94.82% of the lost energy from downtime was related to issues from the manufacturer.  The largest of these issues were:
o	77.7% Turbine Faults
o	7.4% Planned Retrofits
o	5.0% Blade Work

EBITDA for the month of June is favorable to plan by $1532.3k or 308.3%; year-to-date EBITDA is unfavorable to plan by $-3795.6k or -94%.
</p>


